<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gobang Online</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/buttons.css">
        <link rel="stylesheet" href="/css/room.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">GOBANG ONLINE</a>
              <div class="nav-collapse collapse">
                <a href="/lobby" class="btn"><i class="icon-circle-arrow-left"></i> Go Back</a>
                <button id="start-button" class="btn"><i class="icon-play"></i> Start Game</button>
                <button id="give-up-button" class="btn"><i class="icon-flag"></i> Give Up</button>
                <div class="btn-group pull-right">
                  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user"></i> <%= username %> <i class="icon-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#rank"><i class="icon-trophy"></i> Overall Rank</a></li>
                    <li class="divider"></li>
                    <li><a href="#settings"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#about" data-toggle="modal"><i class="icon-info-sign"></i> About</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="icon-off"></i> Log out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="pannel board-pannel span8">
              <canvas id="board-canvas"></canvas>
            </div>
            <div class="span4">
              <div class="row-fluid">
                <div class="pannel room-info-pannel span12">
                  <div class="row-fluid">
                    <i class="icon-user icon-5x span4"></i>
                    <div class="span4" id="room-status-icon"><i class="icon-spin icon-spinner icon-3x"></i></div>
                    <i class="icon-user icon-5x span4"></i>
                  </div>
                  <div class="row-fluid">
                    <div class="span12" id="room-status"></div>
                  </div>
                  <div class="row-fluid">
                    <div class="span6" id="player1"></div>
                    <div class="span6" id="player2"></div>
                  </div>
                  <div class="row-fluid">
                    <div class="span6" id="player1-status"></div>
                    <div class="span6" id="player2-status"></div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="pannel chat-pannel span12">
                  <h3>Messages</h3>
                  <div class="messages" id="room-messages"></div>
                  <input id="send-message" class="input-block-level" autocomplete="off"/>
                </div>
              </div>
              <div class="row-fluid">
                <div class="pannel user-info-pannel span12">
                  <h3>Room - <%= roomname %></h3>
                  <table class="table table-condensed table-hover">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Type</th>
                      </tr>
                    </thead>
                    <tbody id='user-list'>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div><!-- room -->

        <div id="about" class="modal hide fade">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>About</h3>
          </div>
          <div class="modal-body">
            <dl class="dl-horizontal">
              <dt>Author<dt><dd>Chaoya Li (3090103502)</dd>
              <dt>Email</dt><dd>harry75369@gmail.com</dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">OK</button>
          </div>
        </div>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/underscore-min.js"></script>
        <script src="/js/vendor/jcanvas.min.js"></script>

        <script src="/js/main.js"></script>

        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->

        <script src='/socket.io/socket.io.js' type='text/javascript'></script>
        <script>
          var socket = io.connect();
          var gobang_cache = [];
          socket.on('error', function() {
            window.location.replace("/error.html");
          });
          socket.on('user update in room', function(messages) {
            if ( messages && !(_.isEmpty(messages)) ) {
              for ( var i=0; i<messages.length; i++ ) {
                var html = "<i>"+messages[i]+"</i><br/>"
                $('#room-messages').append(html);
                $('#room-messages').scrollTop($('#room-messages').prop('scrollHeight'));
              }
            }
            socket.emit('get user list in room', '<%= roomname %>');
          });
          socket.on('room update', function(messages) {
            if ( messages && !(_.isEmpty(messages)) ) {
              for ( var i=0; i<messages.length; i++ ) {
                var html = "<i>"+messages[i]+"</i><br/>"
                $('#room-messages').append(html);
                $('#room-messages').scrollTop($('#room-messages').prop('scrollHeight'));
              }
            }
            socket.emit('get room info', '<%= roomname %>');
          });
          socket.on('room info', function(data) {
            if ( data && !(_.isEmpty(data)) ) {
              $('#room-status').text(data['status']);
              if ( _.isEqual(data['status'], 'waiting') ) {
                $('#room-status-icon').html(
                  '<i class="icon-spin icon-spinner icon-3x"></i>'
                );
              } else {
                $('#room-status-icon').html(
                  '<i class="icon-exchange icon-3x"></i>'
                );
              }
              $('#player1').text(data['player1']);
              $('#player2').text(data['player2']);
              if ( !(_.isEqual(data['player1_status'], "waiting"))
                && !(_.isEqual(data['player2_status'], "waiting")) ) {
                $('#player1-status').text(data['time1']);
                $('#player2-status').text(data['time2']);
              } else {
                $('#player1-status').text(data['player1_status']);
                $('#player2-status').text(data['player2_status']);
              }
              gobang_cache = data['records'];
              drawGobang();
            }
          });
          socket.on('user list in room', function(data) {
            if ( !(_.isEmpty(data)) ) {
              if ( typeof data == "string" ) {
                $('#user-list').html('<div class="alert alert-error">'+data+'</div>');
                return;
              }
              var trs = '';
              for ( var i=0; i < data.length; i++ ) {
                trs += '<tr>';
                trs += '<td>'+data[i][0]+'</td>';
                trs += '<td>'+data[i][1]+'</td>';
                if ( !data[i][2]) {
                  trs += '<td>observer</td>';
                } else {
                  trs += '<td>player</td>';
                }
                trs += '</tr>';
              }
              $('#user-list').html(trs);
            }
          });
          socket.on('private message', function(html) {
            $('#room-messages').append(html);
            $('#room-messages').scrollTop($('#room-messages').prop('scrollHeight'));
          });
          socket.on('user start failure', function(data) {
            alert(data);
          });
          socket.on('user click failure', function(data) {
            alert(data);
          });
          $(document).ready(function() {
            drawGobang();
            addClickListener();
            window.onresize = function() {
              drawGobang();
            };
            $('#send-message').focus();
            $('#send-message').keypress(function(e) {
              if ( e.which == 13 ) {
                var message = $(this).val();
                if ( !message ) return;
                message = $('<div></div>').text(message).html();
                var html = "<b><%= username %>:</b> "+ message + "<br/>";
                socket.emit('private message', '<%= roomname %>', html);
                $('#room-messages').append(html);
                $('#room-messages').scrollTop($('#room-messages').prop('scrollHeight'));
                $(this).val('');
              }
            });
            $('#start-button').click(function(e) {
              socket.emit('user start', '<%= roomname %>');
            });
            $('#give-up-button').click(function(e) {
            });
          });
          var addClickListener = function() {
            var canvas = document.getElementById('board-canvas');
            canvas.addEventListener('click', function(evt) {
              var rect = this.getBoundingClientRect();
              var dlen = canvas.width / 16;
              var x = Math.round((evt.clientX - rect.left)/dlen);
              var y = Math.round((evt.clientY - rect.top)/dlen);
              var html = "("+x+", "+y+")<br/>";
              $('#room-messages').append(html);
              $('#room-messages').scrollTop($('#room-messages').prop('scrollHeight'));
              //$('#board-canvas').drawArc({fillStyle:"#000",x:x*dlen,y:y*dlen,radius:dlen*0.45});
              socket.emit('user click', '<%= roomname %>', x, y);
            });
          };
          var drawBoard = function() {
            var width = $('.board-pannel').width();
            var height = $('.board-pannel').height();
            var len = Math.min(width, height);
            var canvas = document.getElementById('board-canvas');
            canvas.width = len;
            canvas.height = len;
            var dlen = len / 16;
            $('#board-canvas').drawLine({strokeStyle:"#000",strokeWidth:2,x1:dlen/2,y1:dlen/2,x2:len-dlen/2,y2:dlen/2});
            $('#board-canvas').drawLine({strokeStyle:"#000",strokeWidth:2,x1:dlen/2,y1:len-dlen/2,x2:len-dlen/2,y2:len-dlen/2});
            $('#board-canvas').drawLine({strokeStyle:"#000",strokeWidth:2,x1:dlen/2,y1:dlen/2,x2:dlen/2,y2:len-dlen/2});
            $('#board-canvas').drawLine({strokeStyle:"#000",strokeWidth:2,x1:len-dlen/2,y1:dlen/2,x2:len-dlen/2,y2:len-dlen/2});
            for ( var y=dlen; y < len; y+=dlen ) {
              $('#board-canvas').drawLine({
                strokeStyle: "#000",
                x1:dlen, y1:y,
                x2:len-dlen, y2:y
              });
            }
            for ( var x=dlen; x < len; x+=dlen ) {
              $('#board-canvas').drawLine({
                strokeStyle: "#000",
                strokeWidth: 1,
                x1:x, y1:dlen,
                x2:x, y2:len-dlen
              });
            }
            $('#board-canvas').drawArc({fillStyle:"#000",x:4*dlen,y:4*dlen,radius:dlen/9});
            $('#board-canvas').drawArc({fillStyle:"#000",x:12*dlen,y:4*dlen,radius:dlen/9});
            $('#board-canvas').drawArc({fillStyle:"#000",x:12*dlen,y:12*dlen,radius:dlen/9});
            $('#board-canvas').drawArc({fillStyle:"#000",x:4*dlen,y:12*dlen,radius:dlen/9});
            $('#board-canvas').drawArc({fillStyle:"#000",x:8*dlen,y:8*dlen,radius:dlen/9});
          };
          var drawGobang = function() {
            drawBoard();
            var canvas = document.getElementById('board-canvas');
            var dlen = canvas.width / 16;
            if ( gobang_cache ) {
              for ( var i=0; i < gobang_cache.length; i++ ) {
                var step = gobang_cache[i];
                $('#board-canvas').drawArc({fillStyle:step[0],x:step[1]*dlen,y:step[2]*dlen,radius:dlen*0.45});
              }
            }
          };
        </script>
    </body>
</html>
